<div class="logos">

  <!--<img class="logo" src="https://content.justinschaaf.com/common/logos/js-fullname.svg">-->

  <img class="logo" src="/assets/ctmtoolslogo.png">

</div>

<div class="ctm_selection">

  <a routerLink="/ctm/ctm">
    <button class="ctm_selection_ctm">
      <h3>CTM</h3>
    </button>
  </a>

  <a routerLink="/ctm/compact">
    <button class="ctm_selection_compact">
      <h3>CTM Compact</h3>
    </button>
  </a>

  <a routerLink="/ctm/horizontal">
    <button class="ctm_selection_horizontal">
      <h3>Horizontal</h3>
    </button>
  </a>

  <a routerLink="/ctm/vertical">
    <button class="ctm_selection_vertical">
      <h3>Vertical</h3>
    </button>
  </a>

  <a routerLink="/ctm/overlay">
    <button class="ctm_selection_overlay">
      <h3>Overlay</h3>
    </button>
  </a>

</div>